<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
         <link href="/static/css/bootstrap.css" rel="stylesheet">
<script src="/static/bootstrap/js/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
</head>
<body>
<!--
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <a href="" class="navbar-brand" style="width:250px;">
                <img src="http://www.utpon.com/uploadfile/logo/logo.png?v=2.70"  style="height:30px;">&nbsp;STEM教育
            </a>
        </div>
    </div>
</nav>
-->
<nav class="navbar navbar-expand-lg navbar-dark bg-info header" role="navigation">
<ul class="nav navbar-nav  navbar-left" >
       <li> <a class="navbar-brand img-responsive" href="http://www.utpon.com/"><img title="UTPON俱乐部" src="http://www.utpon.com/uploadfile/logo/logo.png?v=2.70" alt="UTPON俱乐部"  height="25"/></a>
       </li>
        <li>
                     <a href="http://www.utpon.com/" class="nav-link" >
          <span class="glyphicon glyphicon-home"></span> 首页
        </a>
        </li>
</ul>
        <ul class="nav navbar-nav  navbar-right" >
            <li><a class="btn btn-info btn-sm"  high="10">登录</a></li>
            <li><a class="btn btn-success btn-sm"  high="30">注册</a></li>
        </li>
        </ul>

</nav>

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="page-header">
				<h1>
					Example page header <small>Subtext for header</small>
				</h1>
			</div>
			<form role="form">
				<div class="form-group">
					 <label for="exampleInputEmail1">Email address</label><input type="email" class="form-control" id="exampleInputEmail1" />
				</div>
				<div class="form-group">
					 <label for="exampleInputPassword1">Password</label><input type="password" class="form-control" id="exampleInputPassword1" />
				</div>
				<div class="form-group">
					 <label for="exampleInputFile">File input</label><input type="file" id="exampleInputFile" />
					<p class="help-block">
						Example block-level help text here.
					</p>
				</div>
				<div class="checkbox">
					 <label><input type="checkbox" />Check me out</label>
				</div> <button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
	</div>
</div>
</body>
</html>