<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>component_122.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,284},{302,186}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,71},{302,186}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>component_123.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,702},{312,192}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,65},{312,192}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>component_124.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,668},{326,192}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,65},{326,192}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>component_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,1156},{156,90}}</string>
                <key>offset</key>
                <string>{15,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,43},{156,90}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>component_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,1016},{142,98}}</string>
                <key>offset</key>
                <string>{-22,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,51},{142,98}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>component_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,1116},{158,96}}</string>
                <key>offset</key>
                <string>{-20,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,39},{158,96}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>component_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,1274},{140,84}}</string>
                <key>offset</key>
                <string>{30,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,61},{140,84}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>component_94.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,1016},{200,138}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{200,138}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>component_95.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,1148},{200,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>component_96.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{590,300}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{590,300}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>farming_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,550},{276,150}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,15},{276,150}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>farming_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1938,702},{236,108}}</string>
                <key>offset</key>
                <string>{12,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,59},{236,108}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>fog_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,1432},{100,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,46}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>fog_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1938,940},{100,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{100,46}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>fog_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,1314},{92,50}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>fog_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,1360},{92,50}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{92,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>fog_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1914,1324},{84,42}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{84,42}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>fog_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,1274},{84,42}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{84,42}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>fog_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1440},{84,40}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{84,40}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>fog_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1440},{84,40}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{84,40}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>fog_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1914,1276},{92,46}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{92,46}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>fog_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,1414},{92,46}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{92,46}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>fog_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,1366},{92,46}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,46}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>fog_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,1432},{92,46}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{92,46}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>fog_99.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,1374},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>grass.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1374},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>hill1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,1156},{184,116}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{184,116}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>hill2.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,284},{400,262}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{400,262}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>hill3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{598,276}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{598,276}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>hill4.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{588,280}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{588,280}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>hill5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,276},{362,290}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{362,290}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>rain_component_122.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,588},{352,212}}</string>
                <key>offset</key>
                <string>{14,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,65},{352,212}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>rain_component_123.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,824},{380,212}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,62},{380,212}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>rain_component_124.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,568},{356,214}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,59},{356,214}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>rain_hill1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,1300},{200,130}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{200,130}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>rain_hill2.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,548},{392,274}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{392,274}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>rain_hill3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,904},{538,300}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{538,300}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>rain_hill4.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,304},{566,298}}</string>
                <key>offset</key>
                <string>{17,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{566,298}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>rain_hill5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,276},{390,218}}</string>
                <key>offset</key>
                <string>{5,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,64},{390,218}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>snow_component_122.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,1038},{320,166}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,74},{320,166}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>snow_component_123.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,986},{314,172}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,72},{314,172}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>snow_component_124.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,2},{280,174}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,66},{280,174}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>snow_hill1.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,1360},{196,120}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{196,120}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>snow_hill2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,178},{370,252}}</string>
                <key>offset</key>
                <string>{-15,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{370,252}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>snow_hill3.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,872},{500,260}}</string>
                <key>offset</key>
                <string>{10,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,0},{500,260}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>snow_hill4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,2},{580,272}}</string>
                <key>offset</key>
                <string>{9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{580,272}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>snow_hill5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,784},{360,200}}</string>
                <key>offset</key>
                <string>{-20,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,58},{360,200}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>training_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,1160},{292,156}}</string>
                <key>offset</key>
                <string>{10,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,11},{292,156}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>zhuzha_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1256},{380,182}}</string>
                <key>offset</key>
                <string>{-10,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{380,182}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>zhuzha_big_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1038},{380,216}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,216}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>zhuzha_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1444},{18,80}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{18,80}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>zhuzha_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,942},{18,80}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{18,80}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>zhuzha_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,1318},{270,150}}</string>
                <key>offset</key>
                <string>{48,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,39},{270,150}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>zhuzha_mid_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,996},{268,150}}</string>
                <key>offset</key>
                <string>{47,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,39},{268,150}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>zhuzha_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2022,178},{18,80}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{18,80}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>zhuzha_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,1360},{140,94}}</string>
                <key>offset</key>
                <string>{26,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,54},{140,94}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>zhuzha_small_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,942},{140,94}}</string>
                <key>offset</key>
                <string>{26,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,54},{140,94}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>additionCity.png</string>
            <key>size</key>
            <string>{2048,1482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab565901eff0723ff445d256b4c31f62:1/1$</string>
            <key>textureFileName</key>
            <string>additionCity.png</string>
        </dict>
    </dict>
</plist>
