<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>March_route_Icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{35,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,27}}</string>
                <key>sourceSize</key>
                <string>{35,27}</string>
            </dict>
            <key>March_route_Icon_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{38,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,21}}</string>
                <key>sourceSize</key>
                <string>{38,21}</string>
            </dict>
            <key>March_route_Icon_11_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{1140,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1140,21}}</string>
                <key>sourceSize</key>
                <string>{1140,21}</string>
            </dict>
            <key>March_route_Icon_1_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,337},{1050,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1050,27}}</string>
                <key>sourceSize</key>
                <string>{1050,27}</string>
            </dict>
            <key>March_route_Icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,308},{35,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,27}}</string>
                <key>sourceSize</key>
                <string>{35,27}</string>
            </dict>
            <key>March_route_Icon_2_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{1050,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1050,27}}</string>
                <key>sourceSize</key>
                <string>{1050,27}</string>
            </dict>
            <key>March_route_Icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,308},{35,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,27}}</string>
                <key>sourceSize</key>
                <string>{35,27}</string>
            </dict>
            <key>March_route_Icon_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,21}}</string>
                <key>sourceSize</key>
                <string>{38,21}</string>
            </dict>
            <key>March_route_Icon_33_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{1140,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1140,21}}</string>
                <key>sourceSize</key>
                <string>{1140,21}</string>
            </dict>
            <key>March_route_Icon_3_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,395},{1050,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1050,27}}</string>
                <key>sourceSize</key>
                <string>{1050,27}</string>
            </dict>
            <key>March_route_Icon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,424},{35,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,27}}</string>
                <key>sourceSize</key>
                <string>{35,27}</string>
            </dict>
            <key>March_route_Icon_4_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{1050,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1050,27}}</string>
                <key>sourceSize</key>
                <string>{1050,27}</string>
            </dict>
            <key>March_route_Icon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,366},{35,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,27}}</string>
                <key>sourceSize</key>
                <string>{35,27}</string>
            </dict>
            <key>March_route_Icon_5_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{1050,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1050,27}}</string>
                <key>sourceSize</key>
                <string>{1050,27}</string>
            </dict>
            <key>Pass_by_route_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,337},{35,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,27}}</string>
                <key>sourceSize</key>
                <string>{35,27}</string>
            </dict>
            <key>Pass_by_route_Icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,117},{38,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,21}}</string>
                <key>sourceSize</key>
                <string>{38,21}</string>
            </dict>
            <key>Pass_by_route_Icon_1_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{1140,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1140,21}}</string>
                <key>sourceSize</key>
                <string>{1140,21}</string>
            </dict>
            <key>Pass_by_route_Icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,163},{35,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,27}}</string>
                <key>sourceSize</key>
                <string>{35,27}</string>
            </dict>
            <key>Pass_by_route_Icon_2_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{1050,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1050,27}}</string>
                <key>sourceSize</key>
                <string>{1050,27}</string>
            </dict>
            <key>Pass_by_route_Icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,163},{35,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,27}}</string>
                <key>sourceSize</key>
                <string>{35,27}</string>
            </dict>
            <key>Pass_by_route_Icon_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{38,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,21}}</string>
                <key>sourceSize</key>
                <string>{38,21}</string>
            </dict>
            <key>Pass_by_route_Icon_33_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,25},{1140,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1140,21}}</string>
                <key>sourceSize</key>
                <string>{1140,21}</string>
            </dict>
            <key>Pass_by_route_Icon_3_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{1050,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1050,27}}</string>
                <key>sourceSize</key>
                <string>{1050,27}</string>
            </dict>
            <key>Pass_by_route_Icon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{35,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,27}}</string>
                <key>sourceSize</key>
                <string>{35,27}</string>
            </dict>
            <key>Pass_by_route_Icon_4_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,192},{1050,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1050,27}}</string>
                <key>sourceSize</key>
                <string>{1050,27}</string>
            </dict>
            <key>Pass_by_route_Icon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,250},{35,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,27}}</string>
                <key>sourceSize</key>
                <string>{35,27}</string>
            </dict>
            <key>Pass_by_route_Icon_5_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{1050,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1050,27}}</string>
                <key>sourceSize</key>
                <string>{1050,27}</string>
            </dict>
            <key>Pass_by_route_Icon_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{1050,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1050,27}}</string>
                <key>sourceSize</key>
                <string>{1050,27}</string>
            </dict>
            <key>armyground_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,453},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>armyground_edge.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,453},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>armyground_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,453},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>armyground_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,453},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>land_smoke_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,1271},{174,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,189}}</string>
                <key>sourceSize</key>
                <string>{174,189}</string>
            </dict>
            <key>land_smoke_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1271},{174,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,189}}</string>
                <key>sourceSize</key>
                <string>{174,189}</string>
            </dict>
            <key>land_smoke_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1271},{174,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,189}}</string>
                <key>sourceSize</key>
                <string>{174,189}</string>
            </dict>
            <key>land_smoke_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,1271},{174,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,189}}</string>
                <key>sourceSize</key>
                <string>{174,189}</string>
            </dict>
            <key>land_smoke_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1462},{174,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,189}}</string>
                <key>sourceSize</key>
                <string>{174,189}</string>
            </dict>
            <key>land_smoke_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1462},{174,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,189}}</string>
                <key>sourceSize</key>
                <string>{174,189}</string>
            </dict>
            <key>land_smoke_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1462},{174,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,189}}</string>
                <key>sourceSize</key>
                <string>{174,189}</string>
            </dict>
            <key>land_smoke_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1462},{174,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,189}}</string>
                <key>sourceSize</key>
                <string>{174,189}</string>
            </dict>
            <key>land_smoke_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1462},{174,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,189}}</string>
                <key>sourceSize</key>
                <string>{174,189}</string>
            </dict>
            <key>land_smoke_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1462},{174,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,189}}</string>
                <key>sourceSize</key>
                <string>{174,189}</string>
            </dict>
            <key>mu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,661},{236,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,102}}</string>
                <key>sourceSize</key>
                <string>{236,102}</string>
            </dict>
            <key>mu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,557},{236,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,102}}</string>
                <key>sourceSize</key>
                <string>{236,102}</string>
            </dict>
            <key>mu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,557},{236,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,102}}</string>
                <key>sourceSize</key>
                <string>{236,102}</string>
            </dict>
            <key>mu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,453},{236,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,102}}</string>
                <key>sourceSize</key>
                <string>{236,102}</string>
            </dict>
            <key>mu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,557},{236,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,102}}</string>
                <key>sourceSize</key>
                <string>{236,102}</string>
            </dict>
            <key>mu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,661},{236,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,102}}</string>
                <key>sourceSize</key>
                <string>{236,102}</string>
            </dict>
            <key>mu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,661},{236,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,102}}</string>
                <key>sourceSize</key>
                <string>{236,102}</string>
            </dict>
            <key>mu_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,557},{236,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,102}}</string>
                <key>sourceSize</key>
                <string>{236,102}</string>
            </dict>
            <key>mu_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,661},{236,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,102}}</string>
                <key>sourceSize</key>
                <string>{236,102}</string>
            </dict>
            <key>mu_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,765},{236,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,102}}</string>
                <key>sourceSize</key>
                <string>{236,102}</string>
            </dict>
            <key>mu_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,765},{236,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,102}}</string>
                <key>sourceSize</key>
                <string>{236,102}</string>
            </dict>
            <key>shi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1142},{206,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,127}}</string>
                <key>sourceSize</key>
                <string>{206,127}</string>
            </dict>
            <key>shi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1142},{206,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,127}}</string>
                <key>sourceSize</key>
                <string>{206,127}</string>
            </dict>
            <key>shi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1271},{206,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,127}}</string>
                <key>sourceSize</key>
                <string>{206,127}</string>
            </dict>
            <key>shi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1271},{206,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,127}}</string>
                <key>sourceSize</key>
                <string>{206,127}</string>
            </dict>
            <key>shi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1142},{206,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,127}}</string>
                <key>sourceSize</key>
                <string>{206,127}</string>
            </dict>
            <key>shi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1013},{206,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,127}}</string>
                <key>sourceSize</key>
                <string>{206,127}</string>
            </dict>
            <key>shi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,1013},{206,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,127}}</string>
                <key>sourceSize</key>
                <string>{206,127}</string>
            </dict>
            <key>shi_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1142},{206,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,127}}</string>
                <key>sourceSize</key>
                <string>{206,127}</string>
            </dict>
            <key>shi_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1142},{206,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,127}}</string>
                <key>sourceSize</key>
                <string>{206,127}</string>
            </dict>
            <key>shi_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,1013},{206,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,127}}</string>
                <key>sourceSize</key>
                <string>{206,127}</string>
            </dict>
            <key>waterwheel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,889},{218,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,122}}</string>
                <key>sourceSize</key>
                <string>{218,122}</string>
            </dict>
            <key>waterwheel_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,889},{218,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,122}}</string>
                <key>sourceSize</key>
                <string>{218,122}</string>
            </dict>
            <key>waterwheel_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1013},{218,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,122}}</string>
                <key>sourceSize</key>
                <string>{218,122}</string>
            </dict>
            <key>waterwheel_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,889},{218,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,122}}</string>
                <key>sourceSize</key>
                <string>{218,122}</string>
            </dict>
            <key>waterwheel_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,889},{218,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,122}}</string>
                <key>sourceSize</key>
                <string>{218,122}</string>
            </dict>
            <key>waterwheel_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,889},{218,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,122}}</string>
                <key>sourceSize</key>
                <string>{218,122}</string>
            </dict>
            <key>waterwheel_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,765},{218,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,122}}</string>
                <key>sourceSize</key>
                <string>{218,122}</string>
            </dict>
            <key>waterwheel_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,765},{218,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,122}}</string>
                <key>sourceSize</key>
                <string>{218,122}</string>
            </dict>
            <key>waterwheel_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,765},{218,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,122}}</string>
                <key>sourceSize</key>
                <string>{218,122}</string>
            </dict>
            <key>waterwheel_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1013},{218,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,122}}</string>
                <key>sourceSize</key>
                <string>{218,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>armyMark.png</string>
            <key>size</key>
            <string>{1144,1653}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f3deb3c294c0cf2f43702186fa9cbb4:1/1$</string>
            <key>textureFileName</key>
            <string>armyMark.png</string>
        </dict>
    </dict>
</plist>
