<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>city_ground_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{716,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{716,356}}</string>
                <key>sourceSize</key>
                <string>{718,356}</string>
            </dict>
            <key>city_ground_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{718,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{718,356}}</string>
                <key>sourceSize</key>
                <string>{718,356}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>city_dibiao.png</string>
            <key>size</key>
            <string>{1440,360}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99afa54e08b69a3b86df5d09cffbec00:1/1$</string>
            <key>textureFileName</key>
            <string>city_dibiao.png</string>
        </dict>
    </dict>
</plist>
