<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_resource_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1012},{386,198}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{386,198}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>battle_resource_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{386,200}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,20},{386,200}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>battle_resource_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{398,200}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{398,200}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>construction_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{400,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>construction_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{400,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>construction_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>low_blue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1818},{200,62}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,38},{200,62}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>low_blue_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1616},{200,62}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,62}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>low_dark_red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1616},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>low_dark_red_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1518},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>low_dark_red_2_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1416},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>low_green_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1752},{200,64}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{200,64}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>low_green_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1686},{200,64}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,64}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>low_green_2_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1818},{200,62}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,62}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>low_orange_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1620},{200,64}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{200,64}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>low_orange_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1414},{200,64}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,64}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>low_orange_2_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1212},{200,64}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,64}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>low_purple_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1818},{200,62}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,38},{200,62}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>low_purple_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1818},{200,62}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,62}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>low_red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1414},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>low_red_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1314},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>low_yellow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,1818},{200,62}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,37},{200,62}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>low_yellow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1818},{200,62}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,62}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>low_zise_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1212},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>low_zise_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1212},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>low_res.png</string>
            <key>size</key>
            <string>{404,2020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:169a5b95c3a4f69eb7db71883c7df5b1:1/1$</string>
            <key>textureFileName</key>
            <string>low_res.png</string>
        </dict>
    </dict>
</plist>
