<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>junxian_1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,724},{84,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{84,69}}</string>
                <key>sourceSize</key>
                <string>{94,83}</string>
            </dict>
            <key>junxian_1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,458},{68,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,60}</string>
            </dict>
            <key>junxian_1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,634},{67,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,88}}</string>
                <key>sourceSize</key>
                <string>{67,88}</string>
            </dict>
            <key>junxian_1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1369},{81,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,41}}</string>
                <key>sourceSize</key>
                <string>{81,41}</string>
            </dict>
            <key>junxian_1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{100,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,51}}</string>
                <key>sourceSize</key>
                <string>{100,51}</string>
            </dict>
            <key>junxian_1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,866},{80,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,70}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>junxian_1007.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,1271},{77,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{77,44}}</string>
                <key>sourceSize</key>
                <string>{91,44}</string>
            </dict>
            <key>junxian_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,1966},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>junxian_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,1874},{51,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,21}}</string>
                <key>sourceSize</key>
                <string>{51,21}</string>
            </dict>
            <key>junxian_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1680},{40,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,27}}</string>
                <key>sourceSize</key>
                <string>{40,27}</string>
            </dict>
            <key>junxian_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,1804},{57,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,20}}</string>
                <key>sourceSize</key>
                <string>{57,20}</string>
            </dict>
            <key>junxian_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,1690},{63,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,26}}</string>
                <key>sourceSize</key>
                <string>{63,26}</string>
            </dict>
            <key>junxian_106.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1844},{52,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,33}}</string>
                <key>sourceSize</key>
                <string>{52,33}</string>
            </dict>
            <key>junxian_1101.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,1217},{66,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{66,52}}</string>
                <key>sourceSize</key>
                <string>{78,66}</string>
            </dict>
            <key>junxian_1102.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,1612},{63,46}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{63,46}}</string>
                <key>sourceSize</key>
                <string>{79,68}</string>
            </dict>
            <key>junxian_1103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1807},{56,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,35}}</string>
                <key>sourceSize</key>
                <string>{56,35}</string>
            </dict>
            <key>junxian_1104.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,161},{71,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,35}}</string>
                <key>sourceSize</key>
                <string>{71,35}</string>
            </dict>
            <key>junxian_1105.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{114,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,74}}</string>
                <key>sourceSize</key>
                <string>{114,74}</string>
            </dict>
            <key>junxian_1106.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{115,95}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{115,95}}</string>
                <key>sourceSize</key>
                <string>{125,95}</string>
            </dict>
            <key>junxian_1107.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,362},{94,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,54}}</string>
                <key>sourceSize</key>
                <string>{94,54}</string>
            </dict>
            <key>junxian_1108.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1482},{84,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{84,56}}</string>
                <key>sourceSize</key>
                <string>{106,56}</string>
            </dict>
            <key>junxian_1201.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,810},{72,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,54}}</string>
                <key>sourceSize</key>
                <string>{72,54}</string>
            </dict>
            <key>junxian_1202.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1655},{63,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,37}}</string>
                <key>sourceSize</key>
                <string>{63,37}</string>
            </dict>
            <key>junxian_1203.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1817},{52,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,55}}</string>
                <key>sourceSize</key>
                <string>{52,55}</string>
            </dict>
            <key>junxian_1204.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,1612},{39,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,37}}</string>
                <key>sourceSize</key>
                <string>{39,37}</string>
            </dict>
            <key>junxian_1205.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,1875},{50,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,42}}</string>
                <key>sourceSize</key>
                <string>{50,42}</string>
            </dict>
            <key>junxian_1206.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1030},{94,46}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{94,46}}</string>
                <key>sourceSize</key>
                <string>{106,46}</string>
            </dict>
            <key>junxian_1207.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1086},{69,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,44}}</string>
                <key>sourceSize</key>
                <string>{69,44}</string>
            </dict>
            <key>junxian_1301.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,999},{74,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,54}}</string>
                <key>sourceSize</key>
                <string>{74,54}</string>
            </dict>
            <key>junxian_1302.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1317},{81,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,50}}</string>
                <key>sourceSize</key>
                <string>{81,50}</string>
            </dict>
            <key>junxian_1303.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1694},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>junxian_1304.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1112},{92,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,83}}</string>
                <key>sourceSize</key>
                <string>{92,83}</string>
            </dict>
            <key>junxian_1305.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,1496},{83,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,48}}</string>
                <key>sourceSize</key>
                <string>{83,48}</string>
            </dict>
            <key>junxian_1306.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1309},{87,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,59}}</string>
                <key>sourceSize</key>
                <string>{87,59}</string>
            </dict>
            <key>junxian_1307.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,528},{61,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,64}}</string>
                <key>sourceSize</key>
                <string>{61,64}</string>
            </dict>
            <key>junxian_1308.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,965},{94,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,63}}</string>
                <key>sourceSize</key>
                <string>{94,63}</string>
            </dict>
            <key>junxian_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,1983},{41,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,25}}</string>
                <key>sourceSize</key>
                <string>{41,25}</string>
            </dict>
            <key>junxian_202.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2010},{34,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,37}}</string>
                <key>sourceSize</key>
                <string>{34,37}</string>
            </dict>
            <key>junxian_203.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2000},{28,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,23}}</string>
                <key>sourceSize</key>
                <string>{28,23}</string>
            </dict>
            <key>junxian_204.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1879},{50,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,31}}</string>
                <key>sourceSize</key>
                <string>{50,31}</string>
            </dict>
            <key>junxian_205.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1989},{37,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,19}}</string>
                <key>sourceSize</key>
                <string>{37,19}</string>
            </dict>
            <key>junxian_206.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,1660},{63,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,28}}</string>
                <key>sourceSize</key>
                <string>{63,28}</string>
            </dict>
            <key>junxian_207.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,1826},{54,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,23}}</string>
                <key>sourceSize</key>
                <string>{54,23}</string>
            </dict>
            <key>junxian_208.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,1962},{42,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,19}}</string>
                <key>sourceSize</key>
                <string>{42,19}</string>
            </dict>
            <key>junxian_301.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1709},{38,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,23}}</string>
                <key>sourceSize</key>
                <string>{38,23}</string>
            </dict>
            <key>junxian_302.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,1851},{51,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,22}}</string>
                <key>sourceSize</key>
                <string>{51,22}</string>
            </dict>
            <key>junxian_303.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1934},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>junxian_304.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2010},{34,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,20}}</string>
                <key>sourceSize</key>
                <string>{34,20}</string>
            </dict>
            <key>junxian_305.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1790},{46,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,25}}</string>
                <key>sourceSize</key>
                <string>{46,25}</string>
            </dict>
            <key>junxian_306.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1897},{48,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,35}}</string>
                <key>sourceSize</key>
                <string>{48,35}</string>
            </dict>
            <key>junxian_307.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1934},{44,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,26}}</string>
                <key>sourceSize</key>
                <string>{44,26}</string>
            </dict>
            <key>junxian_308.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,1953},{42,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,34}}</string>
                <key>sourceSize</key>
                <string>{42,34}</string>
            </dict>
            <key>junxian_401.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,2010},{34,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,28}}</string>
                <key>sourceSize</key>
                <string>{34,28}</string>
            </dict>
            <key>junxian_402.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,2010},{37,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,20}}</string>
                <key>sourceSize</key>
                <string>{37,20}</string>
            </dict>
            <key>junxian_403.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,136},{36,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,23}}</string>
                <key>sourceSize</key>
                <string>{36,23}</string>
            </dict>
            <key>junxian_404.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,1989},{29,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,17}}</string>
                <key>sourceSize</key>
                <string>{29,17}</string>
            </dict>
            <key>junxian_405.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1955},{37,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,26}}</string>
                <key>sourceSize</key>
                <string>{37,26}</string>
            </dict>
            <key>junxian_406.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,234},{43,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,25}}</string>
                <key>sourceSize</key>
                <string>{43,25}</string>
            </dict>
            <key>junxian_407.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,1718},{60,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,31}}</string>
                <key>sourceSize</key>
                <string>{60,31}</string>
            </dict>
            <key>junxian_408.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,1651},{38,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,27}}</string>
                <key>sourceSize</key>
                <string>{38,27}</string>
            </dict>
            <key>junxian_501.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1412},{82,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{82,80}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>junxian_502.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1606},{47,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,64}}</string>
                <key>sourceSize</key>
                <string>{47,64}</string>
            </dict>
            <key>junxian_503.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1734},{44,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,54}}</string>
                <key>sourceSize</key>
                <string>{44,54}</string>
            </dict>
            <key>junxian_504.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1370},{87,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,55}}</string>
                <key>sourceSize</key>
                <string>{87,55}</string>
            </dict>
            <key>junxian_505.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,661},{100,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,48}}</string>
                <key>sourceSize</key>
                <string>{100,48}</string>
            </dict>
            <key>junxian_506.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,1546},{64,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,79}}</string>
                <key>sourceSize</key>
                <string>{64,79}</string>
            </dict>
            <key>junxian_507.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,711},{99,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,52}}</string>
                <key>sourceSize</key>
                <string>{99,52}</string>
            </dict>
            <key>junxian_601.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1055},{74,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,29}}</string>
                <key>sourceSize</key>
                <string>{74,29}</string>
            </dict>
            <key>junxian_602.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1912},{49,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,41}}</string>
                <key>sourceSize</key>
                <string>{49,41}</string>
            </dict>
            <key>junxian_603.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1197},{92,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,63}}</string>
                <key>sourceSize</key>
                <string>{92,63}</string>
            </dict>
            <key>junxian_604.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,594},{68,38}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,18},{68,38}}</string>
                <key>sourceSize</key>
                <string>{78,62}</string>
            </dict>
            <key>junxian_605.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1078},{94,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,32}}</string>
                <key>sourceSize</key>
                <string>{94,32}</string>
            </dict>
            <key>junxian_606.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1540},{79,64}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{79,64}}</string>
                <key>sourceSize</key>
                <string>{105,90}</string>
            </dict>
            <key>junxian_607.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{95,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,49}}</string>
                <key>sourceSize</key>
                <string>{95,49}</string>
            </dict>
            <key>junxian_701.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1427},{86,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,53}}</string>
                <key>sourceSize</key>
                <string>{86,53}</string>
            </dict>
            <key>junxian_702.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{132,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,59}}</string>
                <key>sourceSize</key>
                <string>{132,59}</string>
            </dict>
            <key>junxian_703.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,1919},{47,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,32}}</string>
                <key>sourceSize</key>
                <string>{47,32}</string>
            </dict>
            <key>junxian_704.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,1132},{75,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,46}}</string>
                <key>sourceSize</key>
                <string>{75,46}</string>
            </dict>
            <key>junxian_705.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,1180},{67,35}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{67,35}}</string>
                <key>sourceSize</key>
                <string>{69,35}</string>
            </dict>
            <key>junxian_706.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{125,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,42}}</string>
                <key>sourceSize</key>
                <string>{125,42}</string>
            </dict>
            <key>junxian_801.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,917},{95,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,46}}</string>
                <key>sourceSize</key>
                <string>{95,46}</string>
            </dict>
            <key>junxian_802.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{132,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,27}}</string>
                <key>sourceSize</key>
                <string>{132,27}</string>
            </dict>
            <key>junxian_803.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{141,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,79}}</string>
                <key>sourceSize</key>
                <string>{141,79}</string>
            </dict>
            <key>junxian_804.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,948},{70,49}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{70,49}}</string>
                <key>sourceSize</key>
                <string>{76,57}</string>
            </dict>
            <key>junxian_805.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,549},{100,57}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{100,57}}</string>
                <key>sourceSize</key>
                <string>{100,61}</string>
            </dict>
            <key>junxian_806.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1758},{47,57}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{47,57}}</string>
                <key>sourceSize</key>
                <string>{55,57}</string>
            </dict>
            <key>junxian_807.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,1751},{58,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,51}}</string>
                <key>sourceSize</key>
                <string>{58,51}</string>
            </dict>
            <key>junxian_808.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,807},{96,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,57}}</string>
                <key>sourceSize</key>
                <string>{96,57}</string>
            </dict>
            <key>junxian_901.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{108,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,59}}</string>
                <key>sourceSize</key>
                <string>{108,59}</string>
            </dict>
            <key>junxian_902.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{132,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,55}}</string>
                <key>sourceSize</key>
                <string>{132,55}</string>
            </dict>
            <key>junxian_903.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1262},{91,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{91,45}}</string>
                <key>sourceSize</key>
                <string>{91,47}</string>
            </dict>
            <key>junxian_904.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,479},{107,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,68}}</string>
                <key>sourceSize</key>
                <string>{107,68}</string>
            </dict>
            <key>junxian_905.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,765},{98,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,40}}</string>
                <key>sourceSize</key>
                <string>{98,40}</string>
            </dict>
            <key>junxian_906.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,261},{99,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,53}}</string>
                <key>sourceSize</key>
                <string>{99,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>minimap_country.png</string>
            <key>size</key>
            <string>{174,2046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31d39ed567a429c4201a9793a1efc7a2:1/1$</string>
            <key>textureFileName</key>
            <string>minimap_country.png</string>
        </dict>
    </dict>
</plist>
