<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>minimap_item_color.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>smallMiniMap_item.png</string>
            <key>size</key>
            <string>{7,7}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d23b29eb27e5193fdf15921a777f8104:1/1$</string>
            <key>textureFileName</key>
            <string>smallMiniMap_item.png</string>
        </dict>
    </dict>
</plist>
