<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>floodEdge_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1340},{76,50}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,25},{76,50}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>floodEdge_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1706},{78,38}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,37},{78,38}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>floodEdge_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1746},{28,28}}</string>
                <key>offset</key>
                <string>{36,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,36},{28,28}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>floodEdge_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{126,68}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,11},{126,68}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>floodEdge_122.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,190},{24,26}}</string>
                <key>offset</key>
                <string>{-35,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,37},{24,26}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>floodEdge_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1596},{80,46}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,24},{80,46}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>floodEdge_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1414},{84,50}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,24},{84,50}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>floodEdge_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,66}}</string>
                <key>offset</key>
                <string>{-23,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{148,66}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>floodEdge_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{144,48}}</string>
                <key>offset</key>
                <string>{-22,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,27},{144,48}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>floodEdge_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1688},{78,38}}</string>
                <key>offset</key>
                <string>{-12,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,25},{78,38}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>floodEdge_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1284},{88,44}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,24},{88,44}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>floodEdge_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{102,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,25},{102,50}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>floodEdge_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{100,44}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,31},{100,44}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>floodEdge_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1038},{90,44}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,30},{90,44}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>floodEdge_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1128},{90,38}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,25},{90,38}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>floodEdge_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,418},{100,46}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,24},{100,46}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>floodEdge_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1106},{90,40}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,24},{90,40}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>floodEdge_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1658},{80,44}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,25},{80,44}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>floodEdge_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,878},{90,50}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,25},{90,50}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>floodEdge_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1616},{80,44}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,31},{80,44}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>floodEdge_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1704},{78,44}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,25},{78,44}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>floodEdge_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,796},{94,50}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,25},{94,50}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>floodEdge_83.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1016},{90,44}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,31},{90,44}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>floodEdge_92.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,158},{56,20}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,55},{56,20}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>flood_water_Edge_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,25},{100,50}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>flood_water_Edge_102_-1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1606},{80,50}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,25},{80,50}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>flood_water_Edge_102_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1250},{88,50}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,25},{88,50}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>flood_water_Edge_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,366},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,25},{100,50}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>flood_water_Edge_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,25},{100,50}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>flood_water_Edge_112_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{100,42}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,33},{100,42}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>flood_water_Edge_112_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,644},{100,42}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,24},{100,42}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>flood_water_Edge_11_-1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{100,42}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,33},{100,42}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>flood_water_Edge_11_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1264},{88,50}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,25},{88,50}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>flood_water_Edge_122.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,314},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,25},{100,50}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>flood_water_Edge_122_-1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,600},{100,42}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,33},{100,42}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>flood_water_Edge_122_0_-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{100,42}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,24},{100,42}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>flood_water_Edge_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,25},{100,50}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>flood_water_Edge_21_-1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1496},{80,50}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,25},{80,50}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>flood_water_Edge_21_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,556},{100,42}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,24},{100,42}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>flood_water_Edge_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,262},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,25},{100,50}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>flood_water_Edge_31_0_-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1444},{80,50}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,25},{80,50}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>flood_water_Edge_31_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{100,42}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,33},{100,42}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>flood_water_Edge_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,25},{100,50}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>flood_water_Edge_41_0_-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,512},{100,42}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,24},{100,42}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>flood_water_Edge_41_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1232},{88,50}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,25},{88,50}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>flood_water_Edge_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,210},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,25},{100,50}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>flood_water_Edge_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,25},{100,50}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>flood_water_Edge_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,158},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,25},{100,50}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>flood_water_Edge_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,106},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,25},{100,50}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>flood_water_Edge_92.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,54},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,25},{100,50}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>flood_water_Edge_92_0_-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1392},{80,50}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,25},{80,50}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>flood_water_Edge_92_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1212},{88,50}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,25},{88,50}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>rainEdge_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1222},{64,26}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,24},{64,26}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>rainEdge_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1466},{84,46}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,29},{84,46}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>rainEdge_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1728},{42,38}}</string>
                <key>offset</key>
                <string>{29,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,27},{42,38}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>rainEdge_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,992},{90,44}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,31},{90,44}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>rainEdge_122.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,664},{48,36}}</string>
                <key>offset</key>
                <string>{-27,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,30},{48,36}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>rainEdge_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1514},{84,42}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,25},{84,42}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>rainEdge_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1084},{90,42}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,25},{90,42}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>rainEdge_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1168},{88,62}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,13},{88,62}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>rainEdge_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1330},{86,44}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,31},{86,44}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>rainEdge_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1662},{80,42}}</string>
                <key>offset</key>
                <string>{-11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,24},{80,42}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>rainEdge_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,1568},{82,46}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,24},{82,46}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>rainEdge_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,896},{94,46}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,29},{94,46}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>rainEdge_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,364},{100,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,27},{100,48}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>rainEdge_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,874},{94,46}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,29},{94,46}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>rainEdge_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,1376},{84,50}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,25},{84,50}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>rainEdge_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,466},{100,44}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,25},{100,44}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>rainEdge_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,944},{90,46}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,24},{90,46}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>rainEdge_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,546},{78,48}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,24},{78,48}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>rainEdge_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{96,54}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,21},{96,54}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>rainEdge_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1558},{82,46}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,29},{82,46}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>rainEdge_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1054},{82,64}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,24},{82,64}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>rainEdge_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{96,50}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,25},{96,50}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>rainEdge_83.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,790},{86,52}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,23},{86,52}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>rainEdge_92.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1194},{64,26}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,49},{64,26}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>snowEdge_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1166},{64,26}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,24},{64,26}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>snowEdge_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,1428},{84,46}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,29},{84,46}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>snowEdge_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1688},{42,38}}</string>
                <key>offset</key>
                <string>{29,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,27},{42,38}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>snowEdge_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{90,44}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,31},{90,44}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>snowEdge_122.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,626},{48,36}}</string>
                <key>offset</key>
                <string>{-27,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,30},{48,36}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>snowEdge_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,1476},{84,42}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,25},{84,42}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>snowEdge_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1062},{90,42}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,25},{90,42}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>snowEdge_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1148},{88,62}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,13},{88,62}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>snowEdge_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1316},{86,44}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,31},{86,44}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>snowEdge_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1644},{80,42}}</string>
                <key>offset</key>
                <string>{-11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,24},{80,42}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>snowEdge_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1548},{82,46}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,24},{82,46}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>snowEdge_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,848},{94,46}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,29},{94,46}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>snowEdge_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,262},{100,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,27},{100,48}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>snowEdge_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{94,46}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,29},{94,46}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>snowEdge_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1362},{84,50}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,25},{84,50}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>snowEdge_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{100,44}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,25},{100,44}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>snowEdge_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{90,46}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,24},{90,46}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>snowEdge_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,466},{78,48}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,24},{78,48}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>snowEdge_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,688},{96,54}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,21},{96,54}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>snowEdge_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,1520},{82,46}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,29},{82,46}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>snowEdge_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,970},{82,64}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,24},{82,64}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>snowEdge_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,744},{96,50}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,25},{96,50}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>snowEdge_83.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,702},{86,52}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,23},{86,52}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>snowEdge_92.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1138},{64,26}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,49},{64,26}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>snow_edge.png</string>
            <key>size</key>
            <string>{256,1776}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6efa7f92d2e21d7711e288a18c3c959f:1/1$</string>
            <key>textureFileName</key>
            <string>snow_edge.png</string>
        </dict>
    </dict>
</plist>
