<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>component_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{400,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>component_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{400,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>component_106.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,220}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wall_not_hide.png</string>
            <key>size</key>
            <string>{1208,224}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fba118cfdb73ef6544d9d64ab076a16:1/1$</string>
            <key>textureFileName</key>
            <string>wall_not_hide.png</string>
        </dict>
    </dict>
</plist>
